# Analyzing student grades in the Open University

## Introduction

**Business context:** The [Open University](https://www.openuniversity.edu/) is one of the largest universities in the world by number of enrolled students. In recent years, it has been working on developing an analytics platform called [OU Analyse](https://analyse.kmi.open.ac.uk/) to track student performance across its many programs, with the aim of reducing dropout and increasing student engagement and learning. Their analytics team is growing, and they have been actively looking to hire strong candidates. You have been shortlisted as one of them.

**Business problem:** As part of the interviewing process, you have been given an anonymized dataset and asked to **compute the GPA (Grade Point Average) for all students in the October 2014 cohort and create a Tableau dashboard that includes their GPAs and demographic data**.

**Analytical context:** You will be working with a subset of the [OULA dataset](https://analyse.kmi.open.ac.uk/open_dataset), which contains demographic and assessment data for a number of UK-based students from the October 2014 cohort (coded as `2014J`). The data is in the [`OULA.xlsx`](data/OULA.xlsx) file. You will find four worksheets in this Excel file:

* `student_info` contains demographic information about students as well as which "module" (course) they were enrolled in and whether they received a pass or a fail, or dropped out.
* `modules` lists the different modules that the students could enroll in. The actual names have been replaced with three-letter codes for privacy reasons.
* `assessments` has a table with all the assessments for each module, indicating the weight that each assessment had in the final grade.
* `student_assessment` contains the actual grades that each student received in each assessment on a 0-100 scale. Most students in this sample only enrolled in one course, but there are some who enrolled in more.

The full documentation can be found [here](https://analyse.kmi.open.ac.uk/open_dataset#description).

## Preparing the dataset

Before you create the dashboard, you need to prepare the dataset and compute the GPAs.

### Exercise 1

Fill in column F of the `student_assessment` worksheet with the module to which each assessment corresponds. The modules associated to each assessment are in the `assessments` worksheet.

**Answer.**

-------

### Exercise 2

Fill in column G of the `student_assessment` worksheet with the weight that is associated with each assessment. Remember that the weights are in the `assessments` worksheet.

**Answer.**

-------

After solving the previous exercises, your worksheet should look like this:

![Prepared dataset](data/images/prepared_dataset.png)

## Calculating the GPAs

Now we are ready to compute the GPA for each student-module pair. Since every assessment has a different weight, this will need to be a *weighted* GPA; i.e. a weighted average. The formula for a weighted average is this:

$$
GPA = \frac{score_1 \times weight_1 + score_2 \times weight_2 + ... + score_n \times weight_n}{\text{sum of } weight}
$$

It is equivalent to this:

$$
GPA = \frac{score_1 \times weight_1}{\text{sum of } weight} + \frac{score_2 \times weight_2}{\text{sum of } weight} + ... + \frac{score_n \times weight_n}{\text{sum of } weight}
$$

For instance, let's say that a student obtained the following grades:

| Assessment | Grade | Weight |
| --- | --- | --- |
| Homework 1 | 82 | 5 |
| Homework 2 | 70 | 5 |
| Quiz | 87 | 10 |
| Project | 60 | 50 |
| Final exam | 90 | 30 |

Notice that the sum of all the weights is 100. The student's GPA would be:

$$
\begin{align}
GPA &= \frac{5\times82}{100} + \frac{5\times70}{100} + \frac{10\times87}{100} + \frac{50\times60}{100} + \frac{30\times90}{100} \\
&= 4.1 + 3.5 + 8.7 + 30 + 27 \\
&= 73.3
\end{align}
$$

### Exercise 3

Before we can compute the GPAs, we need to know the sums of the weights for each module (the $\text{sum of } weight$ terms in the formula above). In theory, the assessments in each module should add up to a total of 200 points (100 points for ordinary assessments plus 100 points for the final exam). However, this isn't true for all modules in this sample.

Calculate the sum of the weights for each `code_module` using a pivot table. Place it in a new worksheet called `weight_sums`.

**Answer.**

-------

### Exercise 4

Using the `VLOOKUP()` function, fill column H in the `student_assessment` worksheet with the sums of the weights you calculated in Exercise 3. Name the column `weight_sum`. Remember that the sum of weights is particular to each module.

**Answer.**

-------

### Exercise 5

#### 5.1

Compute the product $score \times weight$ in column I of the `student_assessment` worksheet for each student-assessment pair. Name the column `score x weight`.

**Answer.**

-------

#### 5.2

For each student and assessment pair, compute the quantity

$$
\frac{score \times weight}{\text{sum of } weight}
$$

and put it in column J in the `student_assessment` worksheet.

The `student_assessment` worksheet should look like this after you add this column:

![Student assessment worksheet](data/images/student_assessment.png)

**Answer.**

-------

### Exercise 6

Calculate the GPAs for each student in each course, using a pivot table. Put it in a new worksheet called `gpas`. The rows should be the individual students' IDs, and the columns should be the modules. Each cell should correspond to the GPA that each particular student obtained in each module.

This is a sample of what your pivot table should look like:

<table>
<thead>
  <tr>
    <th>Row Labels</th>
    <th>AAA</th>
    <th>BBB</th>
    <th>CCC</th>
    <th>DDD</th>
    <th>EEE</th>
    <th>FFF</th>
    <th>GGG</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>6516</td>
    <td>31.75</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>8462</td>
    <td></td>
    <td></td>
    <td></td>
    <td>21.5</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>23698</td>
    <td></td>
    <td></td>
    <td>49.99</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>24734</td>
    <td>23.75</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>25261</td>
    <td></td>
    <td></td>
    <td>0.52</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>25572</td>
    <td></td>
    <td></td>
    <td></td>
    <td>3.5</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>26192</td>
    <td>43.15</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>26315</td>
    <td></td>
    <td>31.9</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>26734</td>
    <td></td>
    <td>9.25</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>27116</td>
    <td></td>
    <td></td>
    <td>62.67333333</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>27417</td>
    <td></td>
    <td></td>
    <td></td>
    <td>14.025</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>28061</td>
    <td>38.7</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>28787</td>
    <td></td>
    <td></td>
    <td>18.66</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>28952</td>
    <td></td>
    <td></td>
    <td>2.006666667</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>29411</td>
    <td></td>
    <td></td>
    <td>0.42</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>...</td>
    <td>...</td>
    <td>...</td>
    <td>...</td>
    <td>...</td>
    <td>...</td>
    <td>...</td>
    <td>...</td>
  </tr>
</tbody>
</table>

**Hint:** You can remove the "Grand Totals" row and column from your pivot table. To do so, after you have created it, right-click on it and select `Show settings`. Then uncheck the boxes below `Show grand totals for` (if you are using a Mac, after you right-click you will probably see the option to remove the grand total immediately).

**Answer.**

-------

### Exercise 7

Now reference the GPAs from the pivot table in the `gpas` worksheet to a new column in the `student_info` worksheet. Call the new column `student_module_gpa`. Your worksheet should end up looking like this:

![Student & module GPA](data/images/student_module_gpa.png)

**Hint:** Use `INDEX()` + `MATCH()` (get the positions of the assessment and the student ID with `MATCH()` - one `MATCH()` for the column and another one for the row). Remember that there is one GPA for each student-module pair.

**Note:** Some students have a "Fail" as their final result even though they obtained a relatively high grade. This is because those students did not present the final exam and therefore were disqualified from receiving a degree.

**Answer.**

-------

## Creating the dashboard

### Exercise 8

Now we have all the data that we need! Load the `student_info` worksheet into Tableau and make a dashboard that allows the user to visualize the relationships between the following dimensions:

* Age
* Gender
* Module
* Region
* Previous education

and the following metrics:

* Average GPA
* Student count

It should also allow for filtering the data by multiple dimensions; e.g. "What is the average GPA of students who took the AAA module *and* were in Scotland?".

You will need to both *design and implement* the dashboard yourself, using the principles and tutorials you saw in previous cases. Paste the link to the Tableau Public dashboard in a new cell below.

**Answer.**
https://public.tableau.com/app/profile/raul.sotelo/viz/Raul_Sotelo_EC3/OpenUniversityStats

-------

## Attribution

"Open University Learning Analytics dataset", Kuzilek J., Hlosta M., Zdrahal Z., 2017, Creative Commons Attribution 4.0, https://www.nature.com/articles/sdata2017171, Sci. Data 4:170171 doi: 10.1038/sdata.2017.171